//Customizing bootstrap utilities

$secondary: rgba(5, 131, 20, 0.555);

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

#serv_cards{
    padding:10px;
    margin: 10px;
}
// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";
